<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link  rel="stylesheet" href="/custom_style.css">

    </head>
    <body class="background">
        <div  class="card position-absolute top-50 start-50 translate-middle shadow mb-5 bg-white width-auto " >
            <div class="card-content" style="width: 800px;">
                <div class="card-header-blue">
                    <div class="card-header-secondary-text">Mineski Bank - Seychelles </div>
                    <div class="card-header-title">Search Loan</div>
                    </div>
                <div class="card-body">

        <form action="/employee/loan/search" method="POST">
            <br>

            <label for="" class="text-box-label"> Loan ID </label>
            <input type="number"  name="loan_id" class="form-control w-50" style="border-color: #113F86;" required>
            <br>
            <input type="submit" class="button" style="width: 200px;">
        </form>

        <br>
        
        <form action="/" method="GET">
            <input type="submit" value="Home" class="button" style="width: 200px; background-color:#ff1744;">
        </form>
        </div></div></div>

    </body>

</html>