
<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link rel="stylesheet" href="/custom_style.css">

    </head>

    <body class="background">
        <div class="card position-absolute top-50 start-50 translate-middle shadow mb-5 bg-white width-auto "
            style="margin-top: 100px;">
            <div class="card-content" style="width: 1000px;">
                <div class="card-header-blue">
                    <div class="card-header-secondary-text">Mineski Bank - Seychelles </div>
                    <div class="card-header-title">Checking Account Creation Page</div>
                </div>
                <div class="card-body">
                     <h4>Page Not Found</h4>
                     <%= err_msg %>

                     <form action="/" method="GET">
                         <input type="submit" value="Home" class="button"
                             style="width: 200px; background-color:#ff1744;">
                     </form>
                </div>
            </div>
        </div>


    </body>



</html>