<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Welcome!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/bootstrap.min.css">
        <link  rel="stylesheet" href="custom_style.css">

    </head>
    <body class="background">
        <div  class="card position-absolute top-50 start-50 translate-middle shadow mb-5 bg-white width-auto">
            <div class="card-content" style="width: auto;">
                <div class="card-header-blue">
                    <div class="card-header-secondary-text">Mineski Bank - Seychelles </div>
                    <div class="card-header-title">Welcome Page</div>
                    </div>
                <div class="card-body">
                    <h2 class="card-title text-center">Welcome to Bank Mineski.</h2>
                    <br>
                    <h4 class="card-subtitle mb-2 text-muted  text-center">We listen. You prosper.</h4>
                    <br><br>
                    <a href="/branch_manager/login" class="card-link">
                    <p class="card-text  text-center">
                    <button type="button" class="button" style="width: 300px;">Login as a branch manager
                    </button></a>

                    <a href="/employee/login" class="card-link">
                    <button type="button" class="button" style="width: 300px;">Login as an employee
                    </button></a>
                    <br><br>
                    
                    <a href="/customer/login/corporate" class="card-link">
                        <button type="button" class="button" style="width: 300px;">Login with your corporate account
                        </button></a>
                    
                    <a href="/customer/login/individual" class="card-link">
                        <button type="button" class="button" style="width: 300px;">Login with your personal account
                        </button></a>
                    </p>
                </div>
            </div>
            </div>

        </div>
        

        
        <br>
        <br>
    </body>
</html>